body {
background-color: orange;
font-family: Verdana, Arial, sans-serif;
font-size: small;
margin: 0;
padding: 0;
}
#container {
background-color: yellow;
width: 768px;
margin: auto;
border-right: 1px solid black;
border-left: 1px solid black;
padding: 0;
}

#content {
background-color: green;
margin: 0;
width: 508px;
float: left;
border-right: 3px solid black;
padding: 10px 40px 10px 20px;
}
#navigation {
background-color: yellow;
padding: 10px 10px 10px 10px;
margin: 0;
float: right;
width: 175px;
height: 100%;
border: 1px solid black;
}
#footer {
clear: both;
background-color: grey;
padding: 10px 20px;
margin: 0;
font-size: 85%;
font-weight: bold;
}

.body-img {
    float: right;
    margin: 50px 20px 0 5px;
    border: 5px solid red;
    }  